<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1>Todo List</h1>
        <div v-if="!isEditing">
          <input type="text" v-model="todo" />
          <input type="submit" value="add" v-on:click="storeTodo" />
        </div>
        <div v-else>
          <input type="text" v-model="todo" />
          <input type="submit" value="update" v-on:click="updateTodo" />
        </div>

        <ol class="orderlist">
          <li v-for="(todo, index) in todos">
            {{ todo }}
            <button v-on:click="editTodo(index, todo)">Edit</button>
            <button v-on:click="deleteTodo(index)">Delete</button>
          </li>
        </ol>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          isEditing: false,
          selectedIndex: null,
          todo: "",
          todos: ["Learning Vue JS", "Create Todo List"],
        },
        methods: {
          storeTodo() {
            this.todos.push(this.todo);
            this.todo = "";
          },
          editTodo(index, todo) {
            this.todo = todo;
            this.selectedIndex = index;
            this.isEditing = true;
          },
          updateTodo() {
            this.todos.splice(this.selectedIndex, 1, this.todo);
            this.isEditing = false;
          },
          deleteTodo(index) {
            this.todos.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
